on:
  repository_dispatch:
    types: [dispatch]

jobs:
  display-env-variable:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Repository: ${GITHUB_ACTION_REPOSITORY}"
          echo "Repository: ${GITHUB_REPOSITORY}"
          echo "Repository: ${GITHUB_ACTION}"
      - name: Trigger build
        run: |
            export REPO=${vishal-kapse/action##*/}
            echo "repo is: ${REPO}"