name: 'Terraform Plan'
 on:
   pull_request:
     branches:
       - main
  jobs:
    terraform plan:
      name: "Terraform Plan"
      runs-on: ubuntu-20.04
      steps:
        - name: checkout
          uses: actions/checkout@v2.3.5
        - uses: actions/setup-python@v3
          with:
            python-version: '3.8'
            architecture: 'x64'
        - name: Run Checkov scan
          id: checkov
          uses: bridgecrewio/checkov-action@master
          with:
            directory: DIR_OF_IAC_CODE
            framework: terraform # optional: run only on a specific infrastructure {cloudformation,terraform,kubernetes,all}
            quiet: true # optional: display only failed checks
            soft_fail: true # optional: do not return an error code if there are failed checks
