name: 'terraform'
on:
  push:
    branches:
      - branch
jobs:
  terraform:
    name: "Terraform Plan"
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v2.3.5
      - uses: actions/setup-python@v3
        with:
          python-version: '3.8'
          architecture: 'x64'
      - name: dir
        run: |
          ls
          pwd
      - name: Run Checkov scan
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: /home/runner/work/action/action/terraform
          framework: terraform # optional: run only on a specific infrastructure {cloudformation,terraform,kubernetes,all}
          quiet: false # optional: display only failed checks
          soft_fail: true # optional: do not return an error code if there are failed checks
          output_format: json
      - name: dir
        run: |
          ls
          ls -lrt
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%dT%H:%M:%S')"
      - name: rename
        run: mv results.sarif scan-${{ steps.date.outputs.date }}.sarif
      - id: 'upload-file'
        uses: 'google-github-actions/upload-cloud-storage@v0'
        with:
          path: ./scan-${{ steps.date.outputs.date }}.sarif
          destination: bucket-name/checkov-scan